

/* ヘッター 
-----------------------------------*/

.title {
  font-size: 26px;
  list-style: none;
}

.header-nav {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.header-nav li {
  margin-left: 36px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-color:#177e80;
  position: fixed;
  width: 100%;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 4%;
  
}


/* ロゴ設定
-----------------------------------*/
/* HOME */
li a .Home-logo {
  background: url("images/Home.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .Home-logo {
  width: 70px;
  height: 70px;
  background: url("images/Home.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .Home-logo:hover {
  background-image: url("images/Home2.png");
}

/* conbination */
li a .conbination-logo {
  background: url("images/Tea.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .conbination-logo {
  width: 70px;
  height: 70px;
  background: url("images/Tea.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .conbination-logo:hover {
  background-image: url("images/Tea2.png");
}

/* menu */
li a .menu-logo {
  background: url("images/menu.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .menu-logo {
  width: 70px;
  height: 70px;
  background: url("images/menu.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .menu-logo:hover {
  background-image: url("images/menu2.png");
}

/* instagram */
li a .instagram-logo {
  background: url("images/Instagram.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .instagram-logo {
  width: 70px;
  height: 70px;
  background: url("images/Instagram.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .instagram-logo:hover {
  background-image: url("images/instagram2.png");
}

/* Youtube */
li a .Youtube-logo {
  background: url("images/Youtube.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .Youtube-logo {
  width: 70px;
  height: 70px;
  background: url("images/Youtube.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .Youtube-logo:hover {
  background-image: url("images/Youtube2.png");
}

/* map */
li a .map-logo {
  background: url("images/map.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .map-logo {
  width: 70px;
  height: 70px;
  background: url("images/map.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .map-logo:hover {
  background-image: url("images/map2.png");
}


/* トップ画像付近
-----------------------------------*/
#top {
  height: 100px;
  margin-bottom: 40px;
}

#top .page-title {
  text-align: center;
}

.bx-wrapper {
  max-width: 100%;
  margin-bottom: 40px;
}

/* top image */
.top-image {
  text-align:center;
  width: 100%; 
}

/* 理由
-----------------------------------*/
.news-contents wrapper {
  text-align:center;
}

/* コンセプト */
.concept-info {
  text-align: center;
  background: #177e80;
}

/* 共通
-----------------------------------*/
/* 背景画像 */
.big-top {
  background-position: center top;
  background-repeat: repeat;
}
#all {
  background-image: url("images/background6.png");
}

/* グリッド */
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 5px;
}

h2 {
  text-align:center;
}

p {
  text-align: left;
}

/* 組み合わせ 
-----------------------------------*/
#conbination {
  text-align:center;
}

.conbination-info {
  background: #177e80;
  height: 100px;
}

/* メニュー 
-----------------------------------*/
#menu {
  text-align: center;
}

.menu-info {
  background: #177e80;
  height: 100px;
}

.menu-image {
  padding-top: 50px;
  padding-bottom: 45px; 
}

/* インスタ 
----------------------------------*/
#insta {
  text-align: center;
}

.insta-info {
  background: #177e80;
  height: 100px;
}

/* YouTube
-----------------------------------*/
.Youtube-info {
  text-align: center;
  background: #177e80;
  height: 100px;
}
.Youtube {
  padding: 50px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width:300px;
}

/* google map 
-----------------------------------*/

.google-info {
  text-align: center;
  background: #177e80;
  height: 100px;
}
.sub-title {
  text-align: center;
}

#location .wrapper {
  display: flex;
  padding-top:50px;
  padding-left:0px;
  padding-right:0px;
  max-width: 1100px;
  justify-content: space-between;
}
.location-info {
  width: 100%;
}
.location-info p {
  padding: 12px 10px;
}
.google-coment {
  display: flex;
}


/* フッター 
-----------------------------------*/
footer {
  background: #177e80;
  text-align: center;
  margin-top: 50px;
}
footer p {
  color: #fff;
  font-size: 15px;
}
footer li {
  color: #fff;
  font-size: 15px;  
list-style: none;
}

/* モバイル 
-----------------------------------*/
@media (max-width: 600px) {
  #top {
    flex-direction: column;
    align-items: center;
  }

  /* header */
  .header-nav {
    margin-top 10px;
  }
  .header-nav li {
    margin: 0 20px;
  }

  /* home */
  .big-top {
    margin-top:20%;
  }
}

