

/* ヘッター 
-----------------------------------*/

.title {
  font-size: 26px;
  list-style: none;
}

.header-nav {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.header-nav li {
  margin-left: 36px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-color:#177e80;
  position: fixed;
  width: 100%;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 4%;
}


/* ロゴ設定
-----------------------------------*/
/* HOME */
li a .Home-logo {
  background: url("images/Home.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .Home-logo {
  width: 70px;
  height: 70px;
  background: url("images/Home.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .Home-logo:hover {
  background-image: url("images/Home2.png");
}

/* conbination */
li a .conbination-logo {
  background: url("images/Tea.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .conbination-logo {
  width: 70px;
  height: 70px;
  background: url("images/Tea.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .conbination-logo:hover {
  background-image: url("images/Tea2.png");
}

/* menu */
li a .menu-logo {
  background: url("images/menu.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .menu-logo {
  width: 70px;
  height: 70px;
  background: url("images/menu.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .menu-logo:hover {
  background-image: url("images/menu2.png");
}

/* instagram */
li a .instagram-logo {
  background: url("images/Instagram.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .instagram-logo {
  width: 70px;
  height: 70px;
  background: url("images/Instagram.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .instagram-logo:hover {
  background-image: url("images/instagram2.png");
}

/* Youtube */
li a .Youtube-logo {
  background: url("images/Youtube.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .Youtube-logo {
  width: 70px;
  height: 70px;
  background: url("images/Youtube.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .Youtube-logo:hover {
  background-image: url("images/Youtube2.png");
}

/* map */
li a .map-logo {
  background: url("images/map.png") no-repeat; /* ロールオーバー時のチラつき防止 */
}

li a .map-logo {
  width: 70px;
  height: 70px;
  background: url("images/map.png") no-repeat;
  display: block;
  text-indent: -9999px;
}
 
li a .map-logo:hover {
  background-image: url("images/map2.png");
}


/* トップ画像付近
-----------------------------------*/
#top {
  height: 100px;
  margin-bottom: 30px;
}

#top .page-title {
  text-align: center;

}

/* top image */
.top-image {
  text-align:center;
  width: 100%; 
}

/* 理由
-----------------------------------*/
.news-contents wrapper {
  text-align:center;
}

/* コンセプト */
.concept-info {
  text-align: center;
  background: #177e80;
}

/* 共通
-----------------------------------*/

.post-title {
  margin: 50px auto;
  width: 8em;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}

h2 {
  text-align:center;
}

h4 {
  text-align:center;
}

/* 組み合わせ 
-----------------------------------*/
#conbination {
  text-align:center;
}

/* お気に入りの一杯を見つけよう */

#conbination .post-title {
  position: relative;
  font-size: 1.5rem;
  font-family: "Cinzel", YuMincho, "HiraginoMincho ProN", "MS PMincho", Meiryo, serif;
  letter-spacing: 2px;
  font-weight: bold;  
}

.conbination-info {
  background: #177e80;
  height: 100px;
}

.conbination-title {
  color: #fff;
  margin: auto;
  text-align:center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}

/* メニュー 
-----------------------------------*/


#menu {
  text-align: center;
}

.menu-info {
  background: #177e80;
  height: 100px;
}

/* インスタ 
----------------------------------*/

#insta {
  text-align: center;
}

.insta-info {
  background: #177e80;
  height: 100px;
}

.instagram {
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width:560px;
  min-width:500px;
}

/* YouTube
-----------------------------------*/

.Youtube-info {
  text-align: center;
  background: #177e80;
  height: 100px;
}
.Youtube {
  padding-top:5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width:300px;
}

/* google map 
-----------------------------------*/

.google-info {
  text-align: center;
  background: #177e80;
  height: 100px;
}
.sub-title {
  text-align: center;
}

#location .wrapper {
  display: flex;
  padding-top:50px;
  max-width: 1100px;
  justify-content: space-between;
}
.location-info {
  width: 100%;
}
.location-info p {
  padding: 12px 10px;
}
.google-coment {
  display: flex;
}


/* フッター 
-----------------------------------*/
footer {
  background: #177e80;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}
footer p {
  color: #fff;
  font-size: 15px;
}
footer li {
  color: #fff;
  font-size: 15px;  
list-style: none;
}

/* モバイル */
@media (max-width: 600px) {
  .top {
    flex-direction: column;
    align-items: center;
  }
}
